body {
	
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.header {
	background-color: #99d6ff;
	padding: 10vh 0 10vh 0;
	margin:  0 0 5vh 0;
}

h1 {
	font-weight: lighter;
	font-size: 6vh;
}

img {
	align-self: center;
	height: 100px;
	width: 100px;
}


.row {
	margin: 0 20% 0 20%;
}

.card {
	box-shadow: 5px 10px #88888844;
}

.column {
	float: left;
	padding-right: 16px;
	width: 18%;
}