body {
	margin: 0 24% 0 24%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.header {
	background-color: #99d6ff;
	padding: 8vh 0 8vh 0;
	margin:  0 0 5vh 0;
}

h1 {
	font-weight: lighter;
	font-size: 6vh;
}

img {
	align-self: center;
	height: 100px;
	width: 100px;
}

a {
	padding: 20vh;
	margin: 20vh;
}

.row {
	margin: 0 2% 0 2%;
}

.card {
	box-shadow: 5px 10px #88888844;
}

.column {
	float: left;
	padding-right: 16px;
	width: 18%;
}